<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js library -->
</head>
<body>
  <h1>Seturi de date pentru județul Arad și municipiul Arad</h1>
  <%= render 'home/chartgraph' %> <!-- Include the Chart partial -->
 <%= render 'home/googlemaps' %>  Include the Google Maps partial
</body>
</html>